body {
    background-image: url("https://post-phinf.pstatic.net/MjAxNzExMThfMTU3/MDAxNTEwOTg1MjU0MDMw.UnE6KDZeDvuggh3tCZyAh1TnZdmvZQGLVZbT2nhBIAYg.9QvOIhmCZnSwa0BXJ8CVs3ROxovGtlVmRmglS2HE8esg.JPEG/20171118-006.jpg?type=w1200");
    background-repeat: no-repeat;
    background-size: cover;
}

#filter_box {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 400px;
    background: #00fff7;
    height: 100%;
    overflow: auto;
    position: fixed;
    text-align: center;
}

.sample_box {
    display: flex;
    width: 150px;
    height: 120px;
    background-color: blueviolet;
    margin: 5px auto 5px auto;
    align-items: center;
    border-radius: 15px;
}

.mspaint_box {
    display: flex;
    width: 150px;
    height: 120px;
    background-color: #fff100;
    margin: 5px auto 5px auto;
    align-items: center;
    border-radius: 15px;
}

/*모달*/
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

/*그림판*/
@import "../static/CSS/reset.css";
.canvas_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}
.palette {
    margin-top: 20px;
    display: flex;
}

.colors {
    display: flex;
    margin: 5px auto auto auto;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.6), 0 1px 3px rgba(0, 0, 0, 0.068);
    border-radius: 20px;
    cursor:Crosshair;
}
.paint_tools {
    display: flex;
    margin: 5px auto 10px auto;
}

.site_box {
    width: 400px;
    height: 60px;
    margin-left: auto;
    margin-right: 60px;
    align-items: center;
}
.col {
    text-align: center;
    padding-top: 15px;
}

.mainpage_box {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 700px;
    background-color: rgba(255, 0, 0, 0.16);
    margin: 15px 30% auto;
}

.input-box {
    width: 300px;
    height: 300px;
    background-color: #daffc9;
    border-radius: 15px;
    display: flex;
    margin: 30% auto 10px auto;
}

.output-box {
    width: 300px;
    height: 300px;
    background-color: #00cbff;
    border-radius: 15px;
    display: flex;
    margin: 30% auto 10px auto;
}

/*마이 페이지*/
.my_output {
    background-color: rgba(102, 0, 255, 0.35);
    height: 750px;
    width: 90%;
    max-width: 1600px;
    display: flex;
    margin: auto;
    border-radius: 30px;
    padding: 100px;
}
.col-md-auto{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 15px;
    height: 200px;
    margin: 15px;
}
/*얘 삭제예정*/
.image_frame {
    border: 3px solid black;
    height: 150px;
    text-align: center;
    padding-top: 20%