body {
    background-image: url("../../static/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#filter_box {
    box-shadow: 0px 3px 3px 3px gray;
    background-image: url("../../static/side.jpg");
    background-size: cover;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
    height: 100%;
    position: fixed;
    text-align: center;
}

.sample_box {
    display: flex;
    width: 300px;
    height: 180px;
    background-color: blueviolet;
    margin: 0px auto 5px auto;
    align-items: center;
    border-radius: 15px;
}

.mspaint_box {
    display: flex;
    width: 150px;
    height: 120px;
    background-color: #fff100;
    margin: 5px auto 20px auto;
    align-items: center;
    border-radius: 15px;
}

/*모달*/
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

/*그림판*/
@import "../static/CSS/reset.css";

.canvas_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.palette {
    margin-top: 20px;
    display: flex;
}

.colors {
    display: flex;
    margin: 5px auto auto auto;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.6), 0 1px 3px rgba(0, 0, 0, 0.068);
    border-radius: 20px;
    cursor: Crosshair;
}

.paint_tools {
    display: flex;
    margin: 5px auto 10px auto;
}

.site_box {
    width: 400px;
    height: 60px;
    margin-left: auto;
    margin-right: 60px;
    align-items: center;
}

.col {
    text-align: center;
    padding-top: 15px;
}





.mainpage_box {
    display: flex;
    width: 85%;
    max-width: 1260px;
    height: 850px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    margin: 20px 70px 0px auto;
    border-radius: 2px;
}

.input-box {
    width: 500px;
    height: 550px;
    background-color: #daffc9;
    border-radius: 15px;
    display: flex;
    margin: 3% auto 10px auto;
    border: 2px dotted black;
}

.filter_button {
    background-color: rgba(219, 87, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    margin: 30px auto;
    width: 300px;
    text-align: center;
    height: 100px;
}

.filter_button:active {
    box-shadow: 0 3px 0 rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .7);
    position: relative;
    top: 6px;
}

.down_button {
    background-color: rgba(219, 87, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    margin: 30px auto;
    width: 300px;
    text-align: center;
    height: 100px;
}

.down_button:active {
    box-shadow: 0 3px 0 rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .7);
    position: relative;
    top: 6px;
}


.photo_up {
    display: block;
    font-size: 50px;
}

.photo_down {
    display: block;
    font-size: 50px;
}

.output-box {
    width: 500px;
    height: 550px;
    background-color: #00cbff;
    border-radius: 15px;
    display: flex;
    margin: 3% auto 10px auto;
    border: 2px dotted black;
}

/*마이 페이지*/
.my_output {
    background-color: rgba(102, 0, 255, 0.35);
    height: 750px;
    width: 90%;
    max-width: 1600px;
    display: flex;
    margin: auto;
    border-radius: 30px;
    padding: 100px;
}

.col-md-auto {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 15px;
    height: 200px;
    margin: 15px;
}

/*얘 삭제예정*/
.image_frame {
    border: 3px solid black;
    height: 150px;
    text-align: center;
    padding-top: 20%
}

.top-botton {
    width: 100px;
    height: 40px;
    position: relative;

    display: block;
    margin: 1px 15px 0px 0px;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.top-botton:hover,
.btn:focus {
    background-color: #27ae60;
}

.top-botton>* {
    position: relative;
}

.top-botton span {
    display: block;
    padding: 12px 24px;
}

.top-botton:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-botton:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* 게시판페이지 */
#articlepage_box {
    width: 800px;
    height: 750px;
    background-color: rgb(126, 47, 216);
    display: flex;
    margin: 60px auto auto auto;
    text-align: center;
    border-radius: 15px;
    padding: 20px 20px 30px 40px;
}

#article_box {
    width: 700px;
    height: 500px;
    background-color: rgb(12, 204, 178);
    display: flex;
    margin: auto;
    border-radius: 15px;
}

.col-3 {
    background-color: brown;
    border-radius: 15px;
    margin: 5px;

}

.article_pic {
    background-color: #27ae60;
    display: flex;
    margin: 100px 15px auto 15px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.comment_box {
    width: 400px;
    height: 500px;
    background-color: chartreuse;
    display: flex;
    margin: 20px auto 40px auto;
    padding: 30px 15px 15px 10px;
    border-radius: 15px;

}

.comment {
    background-color: #fff100;
    border-radius: 15px;
    margin: 5px;
    width: 85%;
}