body {
    background-image: url("../../static/main.png");
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#filter_box {
    box-shadow: 0px 3px 3px 3px gray;
    background-image: url("../../static/side.jpg");
    background-size: cover;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 340px;
    height: 100%;
    position: fixed;
    text-align: center;
}

.sample_box {
    display: flex;
    width: 200px;
    height: 150px;
    margin: 20px auto 5px auto;
    align-items: center;
    border-radius: 15px;

    
}

.sample_box:active {
    border-radius: 10px;
    background-color: rgb(255, 181, 43);
    box-shadow: 0px 0px 5px 5px rgb(255, 188, 43);
    
    
}

.sample_box:visited {
    border-radius: 10px;
    background-color: rgb(255, 181, 43);
    box-shadow: 0px 0px 10px 10px rgb(255, 188, 43);
}




.mspaint_box {
    display: flex;
    width: 150px;
    height: 120px;
    background-color: #fff100;
    margin: 5px auto 20px auto;
    align-items: center;
    border-radius: 15px;
}

/*모달*/
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

/*그림판*/
@import "../static/CSS/reset.css";

.canvas_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.palette {
    margin-top: 20px;
    display: flex;
}

.colors {
    display: flex;
    margin: 5px auto auto auto;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.6), 0 1px 3px rgba(0, 0, 0, 0.068);
    border-radius: 20px;
    cursor: Crosshair;
}

.paint_tools {
    display: flex;
    margin: 5px auto 10px auto;
}

.site_box {
    width: 400px;
    height: 60px;
    margin-left: auto;
    margin-right: 60px;
    align-items: center;
}

.col {
    text-align: center;

}


.mainpage_box {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 700px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    margin: 50px 30% 0 30%;
    border-radius: 2px;
    border-radius: 15px;
}

.input-box {
    width: 400px;
    height: 400px;
    background-color: #daffc9;
    border-radius: 15px;
    display: flex;
    margin: 3% auto 10px auto;
    border: 2px dotted black;
}

.filter_button {
    background-color: rgba(219, 87, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    margin: 30px auto;
    width: 300px;
    text-align: center;
    height: 100px;
}

.filter_button:active {
    box-shadow: 0 3px 0 rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .7);
    position: relative;
    top: 6px;
}

.down_button {
    background-color: rgb(255, 0, 140);
    color: rgba(255, 255, 255, 1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgb(122, 0, 95), 0px 9px 25px rgba(0, 0, 0, .7);
    width: 150px;
    text-align: center;
    height: 100px;
    margin: 20px 10px auto 50px;
}

.down_button:active {
    box-shadow: 0 3px 0 rgba(219, 31, 5, 1), 0px 3px 6px rgba(0, 0, 0, .7);
    position: relative;
    top: 6px;
}

.posting_button {
    background-color: rgb(82, 51, 219);
    color: rgba(255, 255, 255, 1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgb(82, 51, 219), 0px 9px 25px rgba(0, 0, 0, .7);
    width: 150px;
    text-align: center;
    height: 100px;
    margin: 20px 50px auto 10px;
}

.posting_button:active {
    box-shadow: 0 3px 0 rgb(82, 51, 219), 0px 3px 6px rgba(0, 0, 0, .7);
    position: relative;
    top: 6px;
}

.photo_up {
    display: block;
    font-size: 50px;
}

.photo_down {
    display: block;
    font-size: 50px;
}

.output-box {
    width: 400px;
    height: 400px;
    background-color: #00cbff;
    border-radius: 15px;
    display: flex;
    margin: 3% auto 10px auto;
    border: 2px dotted black;

}

/*마이 페이지*/
.my_output {
    background-image: url("../../static/my2.png");
    background-size: cover;
    height: 850px;
    width: 1550px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    border-radius: 30px;
    padding: 30px;


}

.my_article {
    height: 200px;
    display: flex;
    flex-direction: row;

}

.justify-content-md-center {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 10px;


}

.col-md-auto {
    margin-top: 10px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 15px;
    height: 255px;
    padding-left: 15px;
    margin: auto;

}

/*얘 삭제예정*/
.image_frame {
    border: 3px solid black;
    height: 221px;
    width: 276px;
    text-align: center;

}

.image_frame>img {
    height: 215px;
    width: 270px;
    object-fit: cover;
}

.top-botton {
    width: 100px;
    height: 40px;
    position: relative;

    display: block;
    margin: 14px 15px 0px 0px;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.top-botton:hover,
.btn:focus {
    background-color: #27ae60;
}

.top-botton>* {
    position: relative;
}

.top-botton span {
    display: block;
    padding: 12px 24px;
}

.top-botton:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-botton:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* 게시판페이지 */
#articlepage_box {
    width: 100%;
    height: 800px;
    background-image: url("../../static/article.jpg");
    background-size: cover;
    display: flex;
    margin: 30px auto auto 0px;
    text-align: center;

    padding: 20px 20px 30px 40px;
}

.delete {
    width: 100px;
    height: 25px;
    margin-top: 360px;
    transform: rotate(-3deg);
    background-color: #5ABEFF;
    border: transparent;
    margin-left: 20px;
}

.amend {
    width: 100px;
    height: 25px;
    margin-top: 425px;
    margin-left: 10px;
    transform: rotate(-24deg);
    background-color: #E16A9D;
    border: transparent;
}


#articlepage_box>button:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}


.page {
    margin-top: 20px;
}

#article_box {
    width: 1700px;
    height: 670px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    margin: 30px auto auto auto;
    border-radius: 15px;
}

.col-3 {
    background-color: brown;
    border-radius: 15px;
    margin: 5px;
}


.col-4 {
    width: 300px;
    height: 300px;
    background-color: rgba(2, 0, 0, 0.158);
    border-radius: 15px;
    margin: 15px;
}

.col-7 {
    background-color: brown;
    border-radius: 15px;
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;

}

.badge {
    cursor: pointer;
    margin-top: 1px;
}

.row {
    display: flex;
    flex-direction: row;

}

.article_pic {
    background-color: white;
    display: flex;
}


.comment_box {
    width: 500px;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    margin: 0px auto 40px auto;
    padding: 0px 15px 15px 10px;
    border-radius: 15px;

}

.comment {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(0deg, #ffffff, #00ddff 53px);
    background-image: -webkit-linear-gradient(0deg, #ffffff, #00ddff 53px);
    background-image: -o-linear-gradient(0deg, #ffffff, #00ddff 53px);
    background-image: -ms-linear-gradient(0deg, #ffffff, #00ddff 53px);
    background-image: linear-gradient(0deg, #ffffff, #00ddff 53px);
    -webkit-box-shadow: 5px 9px 25px -9px rgba(51, 51, 51, 9);
    -moz-box-shadow: 5px 9px 25px -9px rgba(51, 51, 51, 9);
    -o-box-shadow: 5px 9px 25px -9px rgba(51, 51, 51, 9);
    -ms-box-shadow: 5px 9px 25px -9px rgba(51, 51, 51, 9);
    box-shadow: 5px 9px 25px -9px rgba(51, 51, 51, 9);
    border-radius: 15px;
    margin: 15px auto 15px auto;
    padding: 20px;
    width: 500px;
    display: flex;

}

.comment-boxs {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 10px auto 0px auto;

}

.author_wrap {
    display: flex;
    flex-direction: row;
}

/*업로드 기능 구현*/
/*#holder {*/
/*    border: 10px dashed #ccc;*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    background-color: #ffffff;*/
/*    background-size: initial;*/
/*}*/

/*#holder.hover {*/
/*    border: 3px dashed #ff0000;*/
/*    border-radius: 15px;*/
/*}*/

.content {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 400px;
    height: 396px;
    background-color: gray;

}

.content img,
.content video {
    width: 100%;
    height: 100%;
    display: none;
}

.posting_image {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: thick double rgba(0, 0, 0, 0.527);
    margin: auto;
    line-height: 300px;
    justify-content: center;

}

.col-5 {
    display: block;
}


.article_title {
    font-size: 20px;
    text-align: center;
}

.sample_box1 {
    background-image: url("../../static/filter01.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.sample_box2 {
    background-image: url("../../static/filter02.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.sample_box3 {
    background-image: url("../../static/filter03.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}