
        
        body {
            background-image: url("../../static/sign.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh;
        }
        #sign_up_box {
            width: 500px;
            height: 700px;
            background-color:lightblue;
            margin: auto;   
            border-radius: 15px;

        }
        #sign_in_box {
            width: 500px;
            height: 400px;
            background-color:lightblue;
            margin: auto; 
            margin-top: 50px;  
            border-radius: 15px;
        }
        .inputs {
            width: 350px;
            margin: auto;
        }
        .btn1 {
            margin-left: 120px;
            background-color: #98FF98;
            color: black
            
        }
        .loginbutton {
            background-color: #FFFF99;
            color: black
        }
        .btn:focus,.btn:active {
            outline: none !important;
            box-shadow: none;
            background-color: none;
         }
         .sign_in_inputs {
            margin-top: 20px;
         }
         .signupbutton {
            background-color: #FFFF99;
            color: black
         }
   