<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>그림그림 그림판</title>
    <!--파비콘-->
    <link rel="favicon" href="../static/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--제이쿼리-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/main_style.css?after">
</head>
<body>

<!--사이드바-->
<div id="filter_box">
    <img src="../static/logo.png" style="width: 300px; height: 120px; margin-bottom: 40px;">
    <div class="sample_box">
        <h3>샘플1</h3>
    </div>
    <div class="sample_box">
        <h3>샘플2</h3>
    </div>
    <div class="sample_box">
        <h3>샘플3</h3>
    </div>
    <button type="button" class="btns btn-warning" data-bs-toggle="modal" data-bs-target="#myModal"
            style="width: 250px; height: 110px; margin-top: 10px;">
        <h3>그림판🎨</h3>
    </button>
</div>

<!--상단바-->
<div class="site_box">
    <div class="row">
        <div class="col">
            <button type="button" class="btn top-botton" onclick="location.href='../templates/article.html'">전체 게시판
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn top-botton" onclick="location.href='../templates/my_page.html'">마이 페이지
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn top-botton" onclick="location.href='../templates/sign_in.html'">로그아웃
            </button>
        </div>
    </div>
</div>

<div class="row mainpage_box">
    <div class="col-6 justify-content-md-center">
        <div class="photo_up">
            <p><b>업로드</b></p>
        </div>
        <div class="col input-box">
            <div class="col content">
            </div>
        </div>
        <button class="filter_button" style="font-size: 30px">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">필터 적용하기</span></button>
    </div>
    <div class="col-6">
        <div class="photo_down">
            <p><b>결과물</b></p>
        </div>
        <div class="output-box"></div>
        <button class="down_button" style="font-size: 30px">다운로드</button>

    </div>
</div>
</div>


<!--모달컨텐츠-그림판-->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 600px; background-color: #cbcbcb">
            <!-- 모달 상단제목 -->
            <div class="modal-header">
                <h4 class="modal-title">그려그려 그림판🎨</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 모달 캔버스 -->
            <div class="modal-body">
                <div class="canvas_body">
                    <canvas id="jsCanvas" class="canvas"></canvas>
                </div>
                <div class="palette" id="JSColors">
                    <div class="colors jsColor" style="background-color: black;"></div>
                    <div class="colors jsColor" style="background-color: #ffffff;"></div>
                    <div class="colors jsColor" style="background-color: #ff0000;"></div>
                    <div class="colors jsColor" style="background-color: #fff000;"></div>
                    <div class="colors jsColor" style="background-color: #57ff00;"></div>
                    <div class="colors jsColor" style="background-color: #002bff;"></div>
                    <div class="colors jsColor" style="background-color: #6600ff;"></div>
                    <div class="colors jsColor" style="background-color: #ff8800;"></div>
                    <div class="colors jsColor" style="background-color: #00ffbb;"></div>
                    <div class="colors jsColor" style="background-color: #6b6b6b;"></div>
                </div>
            </div>
            <div class="paint_tools controls__btns">
                <input type="range" id="jsRange" min="0.1" max="10.0" value="2.5" step="0.1"/>
                <button type="button" id="jsMode" class="btn btn-light"
                        style="border: 1px solid black; margin-left: 10px">채우기
                </button>
                <button onclick="colorChange('white')" id="jsEraser" class="btn btn-light "
                        style="border: 1px solid black; margin-left: 10px">지우개
                </button>
                <button id="resetBtn" class="btn btn-light" style="border: 1px solid black; margin-left: 10px">전체지우기
                </button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="jsSave">저장</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">적용</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/JS/app.js"></script>
<script src="../static/JS/function.js"></script>
</body>
</html>


{#<article>#}
{#    <div id="holder"></div>#}
{#    <p id="status">이곳에 이미지를 업로드를 해주세요</p>#}
{#</article>#}