<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/JS/api.js"></script>
    <title>로그인</title>
    <!--파비콘-->
    <link rel="favicon" href="../static/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/sign_style.css?after">
</head>

<!--사이드바-->
<body>
    <div class="header">
        <div class="navbar">
            <img style="margin-left:50px; width: 400px; height: 150px;" onclick="location.href='../templates/sign_in.html'" src='../../static/logo.png'>
        </div>
    </div>
<div id="sign_in_box">
    <!--로그인 정보 입력 폼-->
    <div id="sign_box">
        <div style="display:block">
            <h1 style="display:block; margin-left:50px; padding-top:30px;"><b>로그인</b></h1>
        </div>
        <br>
        <form>
            <div class="inputs sign_in_inputs">
            <div class="mb-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="ID">
                    <label for="floatingInput" style="color:grey">ID 입력</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword" style="color:grey">비밀번호</label>
                </div>
                <div style="display: flex; flex-direction: row; ">
                <button type="button" class="btn signupbutton top-botton" style="border:none; margin-top: 15px" onclick="location.href='../templates/sign_up.html'">회원가입으로
                </button>
                <button type="button" class="btn btn1 top-botton" style="border:none; margin-top: 15px; margin-left: 50px;  margin-left: 150px; background-color: #FFFF99; color: black;" onclick="handleLogin()">로그인</button>
                    </div>
            </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>